body{
	margin:0;
	color:#000;
	font:12px Arial, Helvetica, sans-serif;
	background:#4d4d4d;
	min-width:1000px;
}
img{border-style:none;}
a{
	text-decoration:none;
	color:#0881d5;
}
a:hover{text-decoration:underline;}
#wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
	padding:0 0 49px;
}
#main{
	width:100%;
	overflow:hidden;
	padding:0 0 17px;
	background:#d9ebf0 url(../images/bg-main.jpg) no-repeat 50% 153px;
	display:table;
}
#header{
	width:100%;
	display:table-header-group;
}
.h-holder{
	width:980px;
	overflow:hidden;
	margin:0 auto;
	padding:0 0 10px;
}
.add-nav{
	float:right;
	position:relative;
	margin:0 0 9px;
}
.add-nav .l,
.add-nav .r{
	width:10px;
	float:left;
	height:33px;
	overflow:hidden;
	background:url(../images/bg-add-nav-l.gif) no-repeat;
}
.add-nav .r{background:url(../images/bg-add-nav-r.gif) no-repeat;}
.add-nav .c{
	float:left;
	background:#010101 url(../images/bg-add-nav-c.gif) repeat-x;
}
.add-nav ul{
	list-style:none;
	margin:0 -10px;
	padding:0;
	float:left;
	font-weight:bold;
	font-size:11px;
	line-height:18px;
	text-transform:uppercase;
	overflow:hidden;
	position:relative;
}
.add-nav ul li{
	float:left;
	margin:0 0 0 -1px;
	padding:0 0 0 1px;
	background:url(../images/divider-add-nav.gif) repeat-y;
}
.add-nav ul a{
	float:left;
	height:26px;
	color:#fff;
	padding:8px 15px 0 17px;
}
.add-nav ul a.inner-link{background:url(../images/arrow-add-nav.gif) no-repeat 50% 2px;}
.header-main{
	width:980px;
	overflow:hidden;
        clear: right;
}
.header-main .t,
.header-main .b{
	width:978px;
	margin:0 1px;
	overflow:hidden;
}
.header-main .t{
	height:10px;
	background:url(../images/bg-header-main-t.gif) no-repeat;
}
.header-main .b{
	height:30px;
	background:url(../images/bg-header-main-b.png) no-repeat;
}
.header-main .c{
	height:1%;
	overflow:hidden;
	padding:0 14px 0 21px;
	background:#fff;
	border:solid #c8c8c8;
	border-width:0 1px;
}
.logo-box{
	width:319px;
	float:left;
	margin:4px 0 0;
	position:relative;
}
.logo-box .logo{
	width:267px;
	height:92px;
	background:url(../images/logo.gif);
	text-indent:-9999px;
	overflow:hidden;
	display:block;
}
.logo-box .logo a{
	display:block;
	height:100%;
}
.logo-box .slogan{
	width:200px;
	height:14px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/text-slogan.gif) no-repeat;
	position:absolute;
	bottom:7px;
	left:119px;
}
.daily-deals-box{
	width:285px;
	float:left;
	text-align:center;
	margin:15px 0 0 125px;
}
.daily-deals-box p{margin:0;}
.daily-deals-box .daily-deals{
	display:block;
	width:100%;
	height:25px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/text-daily-deals.gif) no-repeat 50% 0;
}
.daily-deals-box strong{
	display:block;
	font-size:35px;
	line-height:47px;
	text-transform:uppercase;
}
.total-box{
	width:142px;
	float:right;
	text-align:right;
	font-weight:bold;
	line-height:14px;
	color:#545456;
	overflow:hidden;
	margin:-1px 0 -3px;
}
.total-box dl{
	margin:-1px 0 0;
	padding:8px 6px 14px;
	border-top:1px solid #878788;
}
.total-box dl dd{margin:0;}
.navbar{
	width:980px;
	overflow:hidden;
	margin:-10px 0 0;
	font-weight:bold;
	font-size:15px;
	line-height:18px;
}
.navbar .l,
.navbar .r{
	width:9px;
	height:40px;
	overflow:hidden;
	float:left;
	background:url(../images/bg-navbar-l.png) no-repeat;
}
.navbar .r{background:url(../images/bg-navbar-r.png) no-repeat;}
.navbar .c{
	float:left;
	width:922px;
	height:31px;
	padding:4px 40px 5px 0;
	background:#01a2dd url(../images/bg-navbar-c.gif) repeat-x;
}
.navbar a{color:#fff;}
#main-nav{
	float:left;
	list-style:none;
	margin:0 0 0 -10px;
	padding:0;
}
#main-nav li{
	float:left;
	padding:8px 24px 5px 24px;
	background:url(../images/divider-main-nav.gif) no-repeat 100% 0;
}
.navbar .links{
	float:right;
}
.navbar .connect-facebook{
	float:left;
	width:174px;
	height:29px;
	text-indent:-9999px;
	overflow:hidden;
	margin:1px 0 0;
	background:url(../images/btn-connect-facebook.gif) no-repeat;
}
.navbar .sign-in{
	float:left;
	margin:9px 0 0 36px;
}
.navbar .sign-out{
        float:left;
        margin:9px 0 0 20px;
        font-size: 80%;
}

#twocolumns{
	width:100%;
	display:table-footer-group;
}
#twocolumns .twocolumns-holder{
	width:980px;
	margin:0 auto;
	overflow:hidden;
}
#content{
	width:721px;
	float:left;
}
#content .box{
	width:721px;
	overflow:hidden;
	padding:0 0 9px;
}
#content .box-t,
#content .box-b{
	height:10px;
	overflow:hidden;
	background:url(../images/bg-content-box-t.png) no-repeat;
}
#content .box-b{background:url(../images/bg-content-box-b.png) no-repeat;}
#content .box-c{
	height:1%;
	overflow:hidden;
	background:#fff;
	border:solid #999;       /* #c8c8c8; */
	border-width:0 1px;
	padding:18px 9px 49px 19px;
}
#content h1{
	width:600px;
	margin:0 0 19px;
	font-size:29px;
	line-height:31px;
	color:#564942;
}
#content h1 .mark{color:#009ace;}
#content .asides{
	height:1%;
	overflow:hidden;
}
#content .asides .aside1{
	width:438px;
	float:left;
}
#content .asides .visual{
	height:1%;
	overflow:hidden;
	margin:4px 0 20px;
}
#content .asides .visual img{
        display:block;
}



#content .fine-box{
	height:1%;
	overflow:hidden;
	padding:3px 0 7px 7px;
	background:url(../images/divider-fine-box.gif) repeat-y 207px 0;
	font-size:11px;
	line-height:18px;
	color:#545456;
}
#content .fb-holder{
	width:460px;
	overflow:hidden;
	margin:0 0 0 -50px;
}
#content .fb-block{
	display:inline;
	width:180px;
	float:left;
	margin:0 0 0 50px;
}
#content .fine-box h2{
	margin:0 0 11px;
	font-weight:normal;
	font-size:18px;
	line-height:21px;
	color:#007d9f;
	text-transform:uppercase;
}
#content .fine-box p{margin:0;}
#content .fine-box a{color:#05c;}
#content .fine-box ul{
	list-style:none;
	margin:0 0 0 2px;
	padding:0;
}
#content .fine-box ul li{
	padding:0 0 0 13px;
	background:url(../images/bullet-fine-box-list.gif) no-repeat 0 7px;
}
#content .buy{
	width:239px;
	float:right;
	background:#f4f4f4 url(../images/bg-buy-t.gif) no-repeat;
}
#content .buy .b-frame{
	width:239px;
	overflow:hidden;
	padding:11px 0 13px;
	background:url(../images/bg-buy-b.gif) no-repeat 0 100%;
}
#content .buy .price{
	width:222px;
	overflow:hidden;
	background:#15a914 url(../images/bg-price-t.gif) no-repeat;
	margin:0 0 7px 8px;
	font-size:39px;
	line-height:42px;
	color:#fff;
	text-transform:uppercase;
}

#content .buy .price .frame{
	height:1%;
	overflow:hidden;
	padding:2px 12px;
	background:url(../images/bg-price-b.gif) no-repeat 0 100%;
}
#content .buy .price a{
	color:#fff;
	display:block;
	height:1%;
	overflow:hidden;
	font-weight:bold;
        text-decoration:none;
}
#content .buy .price strong{float:left;}
#content .buy .price span{ float:right;}
#content .buy .price a:hover strong,
#content .buy .price a:hover span{color: #cfc; text-decoration:none;}
#content .buy .details{
	width:217px;
	margin:0 0 12px 14px;
	padding:12px 0 10px;
	border-top:1px solid #d4d4d4;
        background: #F8F1D5;
}
#content .buy .details:after{
	content:"";
	display:block;
	clear:both;
}
#content .buy .details-holder{
	width:235px;
	overflow:hidden;
	margin:0 -5px 0 -13px;
	padding:0 0 2px;
	background:url(../images/divider-buy-details.gif) repeat-y 66px 0;
}
#content .buy .details dl{
	margin:0;
	float:left;
	width:66px;
	text-align:center;
	font-size:15px;
	line-height:16px;
	color:#545455;
}
#content .buy .details dl.list2{
	width:86px;
	margin:0 0 0 1px;
}
#content .buy .details dl.list3{
	width:80px;
	margin:0 0 0 2px;
	color:#007d9f;
}
#content .buy .details dl dd{
	margin:0;
	font-size:18px;
	line-height:20px;
	color:#000;
}
#content .buy .details dl.list3 dd{color:#003f50;}
#content .buy-for-friend{
	display:block;
	width:222px;
	overflow:hidden;
	background:url(../images/btn-buy-for-friend-c.gif) repeat-y;
	font-size:14px;
	line-height:18px;
	color:#3d7fd7;
	margin:0 0 13px 8px;
	text-transform:uppercase;
}
#content .buy-for-friend span{
	display:block;
	cursor:pointer;
	background:url(../images/btn-buy-for-friend-b.gif) no-repeat 0 100%;
}
#content .buy-for-friend strong{
	display:block;
	cursor:pointer;
	padding:10px 5px 6px 65px;
	min-height:20px;
	background:url(../images/btn-buy-for-friend-t.gif) no-repeat;
}
* html #content .buy-for-friend strong{height:20px;}
#content .buy-for-friend:hover strong{text-decoration:underline;}
#content .buy-block{
	height:1%;
	padding:9px 5px 0 21px;
	overflow:hidden;
	background:url(../images/bg-buy-block.gif) no-repeat;
}
#content .time{
	font-size:14px;
	line-height:18px;
}
#content .time h3{
	margin:0 0 14px;
	font-size:18px;
	line-height:21px;
	color:#007d9f;
	text-transform:uppercase;
}
#content .time p{margin:0 0 12px;}
#content .time p strong{font-size:16px;}
#content .time .txt{
	width:125px;
	padding:0 49px 0 0;
	overflow:hidden;
	background:url(../images/ico-clock.gif) no-repeat 100% 1px;
}
#content .deal-txt{
	width:125px;
	float:left;
	margin:5px 0 0;
	font-size:12px;
	line-height:17px;
}
#content .deal-txt h3{
	margin:0 0 17px;
	font-size:18px;
	line-height:21px;
}
#content .deal-txt p{margin:0;}
#content .deal-state{
	float:right;
	width:88px;
	font-size:12px;
	line-height:15px;
	color:#545455;
	margin:8px 0 0;
}
#content .deal-state strong{
	display:block;
	margin:0 0 9px;
}
#content .deal-state img{
	display:block;
	margin:0 0 0 29px;
}
#content .box2 .box-t{background:url(../images/bg-content-box2-t.png) no-repeat;}
#content .box2 .box-b{background:url(../images/bg-content-box2-b.png) no-repeat;}
#content .box2 .box-c{
	background:#fff url(../images/bg-content-box2-c.gif) repeat-y 100% 0;
	padding:14px 9px 6px 23px;
}
#content .content-area{
	width:470px;
	float:left;
	line-height:18px;
}
#content .content-area p{
	margin:0 0 18px;
	padding:2px 0 0;
}
#content .content-area h2{
	margin:0 0 9px;
	font-size:18px;
	line-height:20px;
}
#content .reviews-list{
	list-style:none;
	margin:0;
	padding:2px 0 18px;
}
#content .reviews-list blockquote{
	width:387px;
	font-weight:bold;
	color:#666;
	margin:0 0 10px 21px;
	padding:0 0 0 20px;
	background:url(../images/bg-blockquote.gif) no-repeat 0 1px;
}
#content .reviews-list q{quotes: none;}
#content .reviews-list q:before{content:"";}
#content .reviews-list q:after{content:"";}
#content .reviews-list cite{font-style:normal;}
#content .world-street-heading{
	height:1%;
	padding:0 0 0 10px;
	position:relative;
	z-index:2;
}
#content .world-street-heading:after{
	content:"";
	display:block;
	clear:both;
}
#content h2.world-street{
	float:left;
	width:340px;
	height:24px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/text-the-world.gif) no-repeat;
	margin:21px 0 0;
}
#content .world-street-heading img{
	float:left;
	margin:0 0 -14px 12px;
}
#content .world-street-heading .logo2{
	float:left;
	width:45px;
	height:21px;
	text-indent:-9999px;
	overflow:hidden;
	margin:32px 0 -1px -4px;
	background:url(../images/logo2.gif) no-repeat;
	position:relative;
}
#content .world-txt{
	width:469px;
	overflow:hidden;
	background:#f4f4f4 url(../images/bg-world-txt-t.gif) no-repeat;
	font-size:14px;
	line-height:17px;
	margin:0 0 0 -5px;
	position:relative;
}
#content .world-txt .holder{
	min-height:286px;
	overflow:hidden;
	padding:12px 25px 12px 19px;
	background:url(../images/bg-world-txt-b.gif) no-repeat 0 100%;
}
* html #content .world-txt .holder{
	height:286px;
	overflow:visible;
}
#content .world-txt h3{
	font-size:26px;
	line-height:29px;
	margin:0 4px 13px;
}
#content .world-txt p{margin:0;}
#content .aside2{
	display:inline;
	width:195px;
	float:right;
	margin:0 4px 0 0;
	line-height:18px;
}
#content .aside2 h2{
	margin:0 0 11px;
	font-size:18px;
	line-height:20px;
}
#content .aside2 .company-list{
	list-style:none;
	margin:0;
	padding:0;
}
#content .aside2 .company-list li{padding:0 0 11px;}
#content .aside2 .company-list p{margin:0;}
#content .aside2 .company-list address{
	font-style:normal;
	padding:0;
}
#sidebar{
	width:249px;
	float:right;
}
#sidebar .discuss{
	width:233px;
	margin:0 0 23px;
}
#sidebar .discuss:after{
	content:"";
	display:block;
	clear:both;
}
#sidebar .discuss .t,
#sidebar .discuss .b{
	height:10px;
	overflow:hidden;
	background:url(../images/bg-discuss-t.png) no-repeat;
}
#sidebar .discuss .b{background:url(../images/bg-discuss-b.png) no-repeat;}
#sidebar .discuss .c{
	height:1%;
	border:solid #f6f387;
	border-width:0 1px;
	background:#fdfbdc;
}
#sidebar .discuss .c:after{
	content:"";
	display:block;
	clear:both;
}
#sidebar .discuss .content{
	width:100%;
	float:left;
	margin:0 0 -3px;
	position:relative;
}
#sidebar .discuss .heading{
	height:1%;
	overflow:hidden;
	padding:0 12px 6px;
}
#sidebar .discuss h3{
	margin:0;
	font-size:16px;
	line-height:19px;
	color:#545456;
	text-transform:uppercase;
        font-family: Georgia, MS Serif;

}
#sidebar .discuss .txt{
	height:1%;
	background:#fefdea;
	border:solid #e7e6cb;
	border-width:1px 0;
	font-size:11px;
	line-height:15px;
	color:#545456;
	padding:11px 10px 11px 16px;
	position:relative;
}
#sidebar .discuss .txt:after{
	content:"";
	display:block;
	clear:both;
}
#sidebar .discuss .txt .bg{
	position:absolute;
	top:-3px;
	left:-39px;
	width:39px;
	height:58px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/bg-discuss-txt.png) no-repeat;
}
#sidebar .discuss .txt a{color:#545456;}
#sidebar .discuss .txt p{
	margin:0;
	padding:5px 0 0;
	height:1%;
	overflow:hidden;
}
#sidebar .discuss .photo{
	float:left;
	margin:0 9px 0 0;
}
#sidebar .discuss .btm-txt{
	height:1%;
	overflow:hidden;
	text-align:right;
	font-size:11px;
	line-height:13px;
	color:#4c4c4d;
	padding:5px 11px 0;
}
#sidebar .discuss .btm-txt a{color:#05c;}
#sidebar .discuss .btm-txt p{margin:0;}
#sidebar .sb-box{
	width:249px;
	overflow:hidden;
	margin:0 0 15px;
	line-height:15px;
}
#sidebar .sb-box .t,
#sidebar .sb-box .b{
	height:10px;
	overflow:hidden;
	background:url(../images/bg-sb-box-t.png) no-repeat;
}
#sidebar .sb-box .b{background:url(../images/bg-sb-box-b.png) no-repeat;}
#sidebar .sb-box .c{
	height:1%;
	background:#fff;
	border:solid #999;
	border-width:0 1px;
	padding:0 11px 11px;
}
#sidebar .sb-box .c:after{
	content:"";
	display:block;
	clear:both;
}
#sidebar .sb-box .content{
	width:100%;
	float:left;
	position:relative;
	margin:0 0 -10px;
}
#sidebar .sb-box p{margin:0 0 10px;}
#sidebar .sb-box h2{
	margin:0 0 13px;
	font-size:22px;
	line-height:25px;
	color:#5e5d5d;
	text-transform:uppercase;
	text-align:center;
}
#sidebar .social-services{
	list-style:none;
	margin:0 0 25px;
	padding:0;
	font-weight:bold;
	font-size:11px;
	line-height:14px;
	text-align:center;
}
#sidebar .social-services li{
	display:inline-block;
	width:77px;
	margin:0 -5px;
	vertical-align:top;
}
#sidebar .social-services a{
	color:#5e5d5d;
	display:block;
}
#sidebar .social-services a img{
	display:block;
	margin:0 auto;
	vertical-align:top;
}
#sidebar .social-services a strong{display:block;}
#sidebar .social-services a:hover strong{text-decoration:underline;}
#sidebar .give-box{
	width:225px;
	overflow:hidden;
	margin:0 0 10px;
	background:#e4f0d6 url(../images/bg-give-box-t.gif) no-repeat;
}
#sidebar .give-box .holder{
	height:1%;
	overflow:hidden;
	padding:8px 16px 13px;
	background:url(../images/bg-give-box-b.gif) no-repeat 0 100%;
}
#sidebar .give-box h3{
	margin:0 0 4px;
	color:#5e5d5d;
	font-size:17px;
	line-height:20px;
	text-align:center;
}
#sidebar .give-box .give-txt{
	height:1%;
	overflow:hidden;
}
#sidebar .give-box .give-txt img{float:left;}
#sidebar .give-box .btn-buy-gift-card{
	width:102px;
	height:26px;
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btn-buy-gift-card.gif) no-repeat;
	margin:12px 0 0 11px;
}
#sidebar .business{
	font-size:13px;
	line-height:16px;
}
#sidebar .business a{color:#009ace;}
#sidebar .business a span{color:#44b5db;}
#sidebar .business .c{padding:0 6px;}
#sidebar .business .content{margin:-5px 0;}
#sidebar .business .title{
	display:block;
	height:1%;
	overflow:hidden;
	font-size:15px;
	line-height:17px;
	padding:0 0 5px 4px;
}
#sidebar .business .title span{
	float:left;
	margin:2px 0 0;
}
#sidebar .business .title img{
	float:left;
	margin:0 0 0 6px;
}
#sidebar .business-txt{
	height:1%;
	overflow:hidden;
}
#sidebar .business-txt img{
	float:left;
	margin:4px 8px 0 0;
}
#sidebar .business-txt p{
	margin:0;
	height:1%;
	overflow:hidden;
}
#footer{
	width:100%;
	overflow:hidden;
}
#footer .contacts{
	overflow:hidden;
	background:#0cabe5;
}
#footer .c-holder{
	width:942px;
	margin:0 auto;
	text-align:right;
	font-size:18px;
	line-height:21px;
	padding:13px 0 12px;
}
#footer .contacts a{color:#fff;}
#footer .f-holder{
	width:100%;
	overflow:hidden;
	background:#1f2020;
	font-weight:bold;
	line-height:16px;
}
#footer .f-frame{
	width:959px;
	overflow:hidden;
	margin:0 auto;
	padding:15px 17px 21px 4px;
}
#footer .f-holder a{color:#fff;}
#footer .f-holder .block{
	display:inline;
	float:left;
	width:180px;
	margin:0 0 0 34px;
}
#footer .f-holder h3{
	margin:0 0 12px;
	font-size:13px;
	line-height:15px;
	color:#50b4fa;
}
#footer .f-holder h3.color2{color:#9cf116;}
#footer .f-holder ul{
	list-style:none;
	margin:0;
	padding:0;
}
#footer .logo3{
	float:right;
	width:269px;
	height:74px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo3.gif) no-repeat;
	margin:17px 0 0;
}
#footer .copyright{
	width:970px;
	margin:0 auto;
	overflow:hidden;
	font-size:16px;
	line-height:19px;
	color:#dedede;
	padding:5px 0 0;
	text-align:right;
}
#footer .copyright p{margin:0;}
a.accessibility{
	position:absolute;
	top:0;
	left:-9999px;
}


.city-slider li {
  display:block;
  float:left;
  padding:10px 0 10px 30px;
  width:129px;
  color: #555;
  font-size:1.2em;


  list-style-type: none;

  white-space:nowrap;

  list-style-image:none;
  list-style-position:outside;
}

.city-slider  a {
  display:block;
  float:left;
  padding:10px 0 10px 30px;
  width:129px;

border-style:none dashed dashed none;
font-size:1.2em;

  border-color: #999;
  color: #fff;

list-style-type: none;

white-space:nowrap;

list-style-image:none;
list-style-position:outside;
}
