<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% comment %}
MassiveCoupon - Base HTML Page
{% endcomment %}


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <link rel="shortcut icon" href="/media/images/favicon.ico" >

    <title>{% block title %}Massive Coupon - Open source Groupon clone{% endblock title %}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="{% block metakeywords %}{{ page_metakeywords }}{% endblock metakeywords %}" name="Keywords"/>
    <meta content="{% block metadescription %}{{ page_metadescription }}{% endblock metadescription %}" name="Description"/>
    <meta content="en" http-equiv="Content-Language"/>
    <meta name="verify-v1" content="l4Z4jgwG5X58psxFkH3eILv9ua3nJKYrq5zGFZC0xj0=" />
    {% block metadata %}
    {% endblock metadata %}

    <link type="text/css" rel="stylesheet" href="/media/js/css/ui-lightness/jquery-ui-1.7.2.custom.css" />
    <link type="text/css" rel="stylesheet" href="/media/css/all.css" />
    <!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="/media/css/lt8.css" /><![endif]-->

    {% block extralinks %}
    {% endblock extralinks %}
    <style type="text/css">
    {% block extracss %}
    {% endblock extracss %}
    </style>
 
    <script type="text/javascript" src="/media/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.watermarkinput.js"></script>
    <script type="text/javascript" src="/media/js/massivecoupon.js"></script>


    {% block extrascripts %}
    {% endblock extrascripts %}
    <script language="javascript">

  $().ready(function()
  {
    $("#user-msg-close").click(function () {
      $("#user-msg-div").hide();
      return false;
    });

    $("#city-slider-link").click(function () {
      $(".city-slider").slideToggle("slow");
      return false;
    });

  });

    {% block extrajs %}
    {% endblock extrajs %}

    </script>


</head>

<body>

  <div class="city-slider" style="display: none; overflow:hidden;">
   <ul>
     {% for city in cities %}
       <li><a href="{% if city.is_active %}/deals/{{ city.slug }}/{% else %}/{{ city.slug }}/subscribe/{% endif %}">{{ city.name  }}</a></li>
     {% endfor %}
   </ul>

  </div>

  <div class="email-slider" style="display: none; overflow:hidden;">
    <form>
      Email
    </form>
  </div>

  <div id="wrapper">

      {% block content %}{% endblock %}
                
      {% include "footer.html" %}
                
  </div> <!-- end wrapper -->


</body>
</html>

