{% extends "base.html" %}

{% block extralinks %}
{% endblock %}

{% block extracss %}

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}


div.error-box  {
    border: 1px solid #d00000;
    background-color: #F79992;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    margin: 0.5em 0;
    padding: 6px 12px;
    color: white;
}

div.error-box div.title  {
    font-weight: bold;
    margin-bottom: 0.5em;
}

div.error-msg {
    width: 250px;
    color: #c00;
    float: left;
}


.field {
  width: 110px;
  margin-bottom: 15px;
  height: 50px;

}
.double_field {
  width: 230px;
  margin-bottom: 15px;
  height: 50px;

}

.passwd_field {
  width: 390px;
  margin-bottom: 15px;
  height: 50px;
}

#quantity_box {
  margin-bottom: 15px;
}



{% endblock extracss %}

{% block extrascripts %}
{% endblock %}


{% block extrajs %}

    function submitForm(form)
    {
      $.Watermark.HideAll();
    }

    $().ready(function(){


      // Setup hint tooltips and error messages
      {% for f in form %}
      {% if f.help_text %}showHint('#{{ f.auto_id }}', '{{ f.help_text }}');{% endif %}
      {% endfor %}


  });

{% endblock extrajs %}

{% block content %}

   <div id="main">
			<div id="twocolumns">
				<div class="twocolumns-holder">
					<div id="content">
						<div class="box">
							<div class="box-t"></div>
							<div class="box-c">
								<h1><span class="mark" style="color: #000;">I. Terms and Conditions</span></h1>
								<a href="#main-nav" class="accessibility">skip to main navigation</a>

                 <!-- main content area div -->
                <div>
<h3>IMPORTANT: ALL USERS ARE REQUIRED TO READ THIS SECTION</h3>

<p>
MASSIVE COUPON PROVIDES THIS WEB SITE (THE "SITE") TO YOU SUBJECT TO THESE TERMS AND CONDITIONS OF USE (THE "TERMS OF USE"). PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS WEB SITE. BY ACCESSING OR USING THIS WEB SITE, YOU EXPLICITLY AGREE TO COMPLY WITH AND BE BOUND BY THESE SITE TERMS AND ALL TERMS, POLICIES AND GUIDELINES INCORPORATED BY REFERENCE HEREIN. IF YOU DO NOT AGREE TO ALL PROVISIONS OF THESE SITE TERMS, DO NOT USE THIS WEB SITE. 
</p>

<p>
Thanks for visiting MassiveCoupon.com, an online company doing business at http://www.massivecoupon.com  The Terms of Use which incorporate the Privacy Policy and Frequently Asked Questions (FAQ), set forth the terms and conditions that govern the use of this Site and that must be followed by any person or entity (“User”) that uses the Site. 
</p>

<h3>1. Acceptance of Terms of Use</h3>

<p>
By using this Site (which includes visiting the site whether or not participating in any commerce) you agree to the terms and conditions set forth below and provided by MassiveCoupon and to follow all applicable regulations that apply to this Site. If you do not agree to the Terms of Use you must stop using the Site. 
</p>

<h3>2. Conditions</h3>
<p>
...........
</p>




                </div>



							</div>
							<div class="box-b"></div>
						</div>

					</div>
				</div>
			</div> 
			
         {% include "header.html" %}
			
		</div> <!-- end main -->
	
{% endblock content %}	
